*{
  background-color: rgb(245, 235, 245);
}
div.cont {
    text-align: center;
    margin-left: 1cm;
    color: rgb(15, 13, 13);
    font-size: larger;
    font-style: italic;
    float: left;
}
div.cont div{
    visibility: hidden;
    background-color: rgb(238, 171, 227);
    border-radius: 100%;

}
div.cont:hover{
     cursor: pointer;
}
div.cont:hover div{
    visibility: visible;
    
}
p{
   font-size: larger;
   text-align: center;
}

button{
    background-color: rgb(181, 181, 247);
}
nav{
    text-align: right;
    margin-right: 2cm;
    margin-left: 13cm;
    font-size: larger;
    margin-top: 1cm;
}
a{
    padding-right: 1cm;
    padding-top: 5cm;
    text-decoration: none;
}
footer{
    float: left;
    padding-top: 4cm;
    padding-right: 7cm;
    padding-left: 7cm;
}