body{
    background-color: rgb(241, 231, 241);
}
nav{
    text-align: right;
    margin-right: 2cm;
    margin-left: 13cm;
    font-size: larger;
    margin-top: 1cm;
}
a{
    padding-right: 1cm;
    padding-top: 5cm;
    text-decoration: none;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: rgb(51, 4, 51);
    width: 700px;
    justify-content: center;
    margin-left: 20%;

}
.container{
    text-align: center;
    background-color: white;
}
.one{
    background-color: rgb(236, 187, 187);
    border-radius: 3px;
    padding: 5px;
}
.two{
    background-color: rgb(236, 187, 187);
    border-radius: 3px;
    padding: 5px;
}
.three{
    background-color: rgb(236, 187, 187);
    border-radius: 3px;
    padding: 5px;
}
.four{
    background-color: rgb(236, 187, 187);
    border-radius: 3px;
    padding: 5px;
}
.five{
    background-color: rgb(236, 187, 187);
    border-radius: 3px;
    padding: 5px;
}
.six{
    background-color: rgb(236, 187, 187);
    border-radius: 3px;
    padding: 5px;
}
.seven{
    background-color: rgb(236, 187, 187);
    border-radius: 3px;
    padding: 5px;
}
.eight{
    background-color: rgb(236, 187, 187);
    border-radius: 3px;
    padding: 5px;
}
.status{
    font-size: 25px;
    border-color: blue;
    border-radius: 5px;
}
.main-answers{
    display: flex;
    margin-top: 5%;
}
/* button{
    font-size: large;
    color: blue;
    letter-spacing: 1px;
} */
.mainbox{
    width: 35%;
    margin-left: 4cm;
    margin-right: 2cm;
    background-color: rgb(236, 202, 202);

}
.answers{
    background-color: rgb(215, 207, 223);
    font-size: 25px;
    color: rgb(5, 5, 83);
}

.box{
    width: 120px;
    height: 140px;
    /*background: rgb(161, 15, 15);*/
    /* padding-bottom: 3cm; */
    margin: 10px;
    border-radius: 20px;
    /* float: left;   */
    color: black;
    /* font-size: 30px; */
}
#one{
   background: red;
}
#two{
    background: yellow;
}
#three{
    background: orange;
}
#four{
    background: green;
}
#five{
    background: blue;
}
#six{
    background:purple;
}
