body{
    margin: 0;
    /* padding: 4%; */
    border: solid 50px rgb(208, 235, 235);
}
.nav{
    display: flex;
    margin: 3% 0% 0% 10%;
    /* width: 280px; */
    /* background-color: white; */

}
.nav button{
    /* padding: 10%; */
    margin-left: 5%;
    height: 35px;
    width: 120px;
    background-color: white;
    border: solid 2px purple;
}
.nav button:hover{
    background-color: rgb(226, 206, 226);
}

   
header{
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(85, 8, 81),white, rgb(92, 40, 97));
    /* background-color: rgb(5, 125, 206); */
    padding: 0% 5%;
}
header .myName{
    /* background-color: rgb(10, 228, 75); */
    width: 100%;
    color: rgb(12, 5, 44);
    font-size: 40px;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.career{
    /* background-color: rgb(10, 228, 75); */
    font-family: 'Ibarra Real Nova', serif;
    font-size: 30px;
    margin-left: 5%;
    /* margin-top: -2%; */
  
}
header img{
    margin: 1% 10%;
}
.me h3{
    text-align: center;
    /* max-width: 50%; */
    
}
.name{
    text-align: center;
   
}
.name::before{
    background: rgb(30, 6, 136);
    content: '';
    display: inline-block;
    width: 20px;
    height: 0.5px;
}
.me{
    display: flex;
    margin: 2% 10% 2% 15%;
    
}
.me img{
    background-color: rgb(211, 179, 207);
    border: solid rgb(104, 3, 95) 5px;
    width: 30%;
    /* border-radius: 50%; */
}
.view{
    height: 35px;
    width: 140px;
    margin-left: 25%;
    margin-top: 10%;
    background-color: rgb(240, 212, 240);
    border: solid 2px purple;
    transition: transform 500ms ease;

}
.download{
    height: 35px;
    width: 140px;
    margin-left: 10%;
    background-color: rgb(240, 212, 240);
    border: solid 2px purple;
    transition: transform 500ms ease;
}
.view:hover, .download:hover{
    transform: scale(1.1);
    background-color: white;
}
.me div{
    /* max-width: 30%; */
    margin-top: 10%;
    /* background-color: blueviolet; */
}
.container{
    background-color: rgb(92, 40, 97);
    padding: 0.1% 0%;
}
.content{
    display: flex;
}
.education{
    padding: 1%;
    max-width: 30%;
    margin: 2% 2% 2% 4%;
    background-color: white;
    color: rgb(73, 5, 73);
    font-size: 18px;
    /* height: 40%; */
    border: solid 5px rgb(104, 219, 219);
    /* text-align: center; */
}
.education h2{
    text-align: center;
}
.about{
    padding: 1%;
    max-width: 29%;
    margin: 2%;
    color: rgb(73, 5, 73);
    font-size: 18px;
    background-color: white;
    /* text-align: center; */
    /* height: 50%; */
    border: solid 5px rgb(104, 219, 219);
}
.about h2{
    text-align: center;
}
.contact{
    border: solid 5px rgb(104, 219, 219);
    margin: 2% 4% 2% 2%;
    width: 20%;
    padding: 1% 2%;
    background-color: white;
    
}
.contact p{
    background-color: rgb(230, 221, 227);
    font-size: 30px;
    max-width: 98%;
    padding: 3%;
    border-radius: 5px;
    /* margin-top: 10px; */
}
.contact p:hover{
    background-color: rgb(201, 152, 201);
}
.skills{
    background-color: white;
    margin: 0 8%;
    border: solid 5px rgb(104, 219, 219);
    text-align: center;
}
.skills p{
    background-color: rgb(235, 203, 238);
    padding: 10px 0;
    font-size: 20px;
    width: 60%;
    margin-left: 20%;
    border-radius: 15px;

}
.projects{
    display: flex;
    /* padding: 1%; */
    /* max-width: 25%; */
    /* background-image: linear-gradient(to bottom right, rgb(206, 11, 196),white, rgb(92, 40, 97)); */
}
.projects2{
    border: solid 5px rgb(104, 219, 219);
     margin: 0% 7%; 
     background-color: white;
}

.project h3{
    color: white;
    text-align: center;
    background-color: rgb(88, 6, 88);
    padding: 3% 1%;
    font-size: 25px;
    border-radius: 5px;
    /* max-width: 70%; */

}
.title{
    font-size: 37px;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 30%;
    margin-top: 5%;
    margin-left: 35%;
    /* background-color: rgb(235, 203, 238); */
    border-radius: 10px;
    /* margin-left: 50%; */
}
.project{
    /* border: solid 5px rgb(104, 219, 219); */
    margin: 3%;
    padding: 1%;
    width: 70%;
    background-color: rgb(214, 226, 226);
}
.project_content{
    position: relative;
}
.description{
    position: absolute;
    top: 0;
    font-size: 20px;
    padding: 5% 10%;
    opacity: 0.97;
    color: rgb(66, 4, 61);
    width: 337px;
    height: 250px;
    visibility: hidden;
    background-color:rgb(166, 204, 204);
    transition: transform 500ms ease;
}
 .project_content:hover .description{
    visibility: visible;
    transform: scale(1.1);

}

.project img{
    width: 98%;
    height: 60%;
    margin-left: 1%;
}
.project button{
    height: 35px;
    width: 290px;
    margin: 5% 0 2% 15%;
    font-size: 16px;
    background-color: white;
    border: solid 2px purple;
    text-decoration: none;  
    transition: background-color 800ms ease;

}
.project button:hover{
    background-color: rgb(88, 6, 88);
    color: white;
}
a{
    text-decoration: none;  
}

footer{
    background-color: rgb(208, 235, 235);
    padding: 1% 10% 0 35%;
    color: purple;

}
